<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023_DS/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [22]:
# 入力用
import random
x=[]
for i in range(5):
  x.append(random.randint(1,280)*10+2220000)
print(x)

[2222210, 2222620, 2222800, 2221580, 2220680]

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [48]:
# 入力用
x1=[]
x2=[]
x3=[]
while len(x1) < 5:
  x=random.randint(1,9)
  if x not in x1:
    x1.append(x)
x1=sorted(x1)
print("1つ目のリスト:",x1)
while len(x2) < 5:
  x=random.randint(1,9)
  if x not in x2:
    x2.append(x)
x2=sorted(x2)
print("2つ目のリスト:",x2)
for i in range(5):
  x3.append(x1[i]+x2[i])
print(x3)

1つ目のリスト: [1, 2, 3, 4, 7]
2つ目のリスト: [3, 4, 5, 8, 9]
[4, 6, 8, 12, 16]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [73]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [77]:
# 入力用
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
todohuken_list1=todohuken_list
t=[]
k=[]
while len(todohuken_list1)>3:
  c=random.randint(0,len(todohuken_list1)-1)
  k.append(todohuken_list1[c])
  del todohuken_list1[c]
  if len(k) == 4 :
    t.append(k)
    k=[]
t.append(todohuken_list1)
print(t)

['神奈川県', '岐阜県', '愛媛県']
[['静岡県', '岡山県', '富山県', '岩手県'], ['愛知県', '福島県', '広島県', '奈良県'], ['兵庫県', '徳島県', '群馬県', '沖縄県'], ['千葉県', '新潟県', '山形県', '長野県'], ['茨城県', '宮崎県', '和歌山県', '秋田県'], ['山梨県', '香川県', '熊本県', '東京都'], ['福井県', '佐賀県', '宮城県', '鹿児島県'], ['滋賀県', '島根県', '福岡県', '高知県'], ['青森県', '大阪府', '山口県', '三重県'], ['長崎県', '鳥取県', '石川県', '京都府'], ['埼玉県', '栃木県', '北海道', '大分県'], ['神奈川県', '岐阜県', '愛媛県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [88]:
# 入力用
import re
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
ul=[]
u={}
UL=[]
for i in university_list:
  u[int(re.sub(r"\D", "", i))]=i
print(u)
for i in u:
  ul.append(i)
ul=sorted(ul)
print(ul)
for i in ul:
  UL.append(u[i])
print(UL)

{25: 'Chitose,25', 105: 'Hokudai,105', 74: 'Muroran,74', 23: 'Hakodate,23'}
[23, 25, 74, 105]
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [101]:
List=[]
N=input()
List.append(N)
for i in range(int(List[0])):
  if (i+1) % 3 == 0 :
    if (i+1) % 5 == 0 :
      print(i+1," is FizzBuzz")
      List.append('FizzBuzz')
    else:
      print(i+1," is Fizz")
      List.append('Fizz')
  else:
    if (i+1) % 5 == 0 :
      print(i+1," is Buzz")
      List.append('Buzz')
    else:
      print(i+1," is Others")
      List.append('Others')
print(List)
print("FizzBuzzの数:",List.count('FizzBuzz'))
print("Fizzの数:",List.count('Fizz'))
print("Buzzの数:",List.count('Buzz'))
print("Othersの数:",List.count('Others'))

100
1  is Others
2  is Others
3  is Fizz
4  is Others
5  is Buzz
6  is Fizz
7  is Others
8  is Others
9  is Fizz
10  is Buzz
11  is Others
12  is Fizz
13  is Others
14  is Others
15  is FizzBuzz
16  is Others
17  is Others
18  is Fizz
19  is Others
20  is Buzz
21  is Fizz
22  is Others
23  is Others
24  is Fizz
25  is Buzz
26  is Others
27  is Fizz
28  is Others
29  is Others
30  is FizzBuzz
31  is Others
32  is Others
33  is Fizz
34  is Others
35  is Buzz
36  is Fizz
37  is Others
38  is Others
39  is Fizz
40  is Buzz
41  is Others
42  is Fizz
43  is Others
44  is Others
45  is FizzBuzz
46  is Others
47  is Others
48  is Fizz
49  is Others
50  is Buzz
51  is Fizz
52  is Others
53  is Others
54  is Fizz
55  is Buzz
56  is Others
57  is Fizz
58  is Others
59  is Others
60  is FizzBuzz
61  is Others
62  is Others
63  is Fizz
64  is Others
65  is Buzz
66  is Fizz
67  is Others
68  is Others
69  is Fizz
70  is Buzz
71  is Others
72  is Fizz
73  is Others
74  is Others
75  is FizzBuzz
76  is Others
77  is Others
78  is Fizz
79  is Others
80  is Buzz
81  is Fizz
82  is Others
83  is Others
84  is Fizz
85  is Buzz
86  is Others
87  is Fizz
88  is Others
89  is Others
90  is FizzBuzz
91  is Others
92  is Others
93  is Fizz
94  is Others
95  is Buzz
96  is Fizz
97  is Others
98  is Others
99  is Fizz
100  is Buzz
['100', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz', 'Others', 'Fizz', 'Others', 'Others', 'FizzBuzz', 'Others', 'Others', 'Fizz', 'Others', 'Buzz', 'Fizz', 'Others', 'Others', 'Fizz', 'Buzz']
FizzBuzzの数: 6
Fizzの数: 27
Buzzの数: 14
Othersの数: 53

In [94]:
# 入力用
D={'Fizz':0,'Buzz':0,'FizzBuzz':0,'Others':0}
N=100
for i in range(N):
  if (i+1) % 3 == 0 :
    if (i+1) % 5 == 0 :
      print(i+1," is FizzBuzz")
      D['FizzBuzz']+=1
    else:
      print(i+1," is Fizz")
      D['Fizz']=D['Fizz']+1
  else:
    if (i+1) % 5 == 0 :
      print(i+1," is Buzz")
      D['Buzz']=D['Buzz']+1
    else:
      print(i+1," is Others")
      D['Others']=D['Others']+1
print(D)

1  is Others
2  is Others
3  is Fizz
4  is Others
5  is Buzz
6  is Fizz
7  is Others
8  is Others
9  is Fizz
10  is Buzz
11  is Others
12  is Fizz
13  is Others
14  is Others
15  is FizzBuzz
16  is Others
17  is Others
18  is Fizz
19  is Others
20  is Buzz
21  is Fizz
22  is Others
23  is Others
24  is Fizz
25  is Buzz
26  is Others
27  is Fizz
28  is Others
29  is Others
30  is FizzBuzz
31  is Others
32  is Others
33  is Fizz
34  is Others
35  is Buzz
36  is Fizz
37  is Others
38  is Others
39  is Fizz
40  is Buzz
41  is Others
42  is Fizz
43  is Others
44  is Others
45  is FizzBuzz
46  is Others
47  is Others
48  is Fizz
49  is Others
50  is Buzz
51  is Fizz
52  is Others
53  is Others
54  is Fizz
55  is Buzz
56  is Others
57  is Fizz
58  is Others
59  is Others
60  is FizzBuzz
61  is Others
62  is Others
63  is Fizz
64  is Others
65  is Buzz
66  is Fizz
67  is Others
68  is Others
69  is Fizz
70  is Buzz
71  is Others
72  is Fizz
73  is Others
74  is Others
75  is FizzBuzz
76  is Others
77  is Others
78  is Fizz
79  is Others
80  is Buzz
81  is Fizz
82  is Others
83  is Others
84  is Fizz
85  is Buzz
86  is Others
87  is Fizz
88  is Others
89  is Others
90  is FizzBuzz
91  is Others
92  is Others
93  is Fizz
94  is Others
95  is Buzz
96  is Fizz
97  is Others
98  is Others
99  is Fizz
100  is Buzz
{'Fizz': 27, 'Buzz': 14, 'FizzBuzz': 6, 'Others': 53}